node_modules
dist

.vscode
.stfolder

# GUI Settings
Stream Tool/Resources/Texts/GUI Settings.json

#Presets
Stream Tool/Resources/Texts/Player Info
Stream Tool/Resources/Texts/Player Info.json
Stream Tool/Resources/Texts/Character List.json
Stream Tool/Resources/Texts/startGGAuth.json

.DS_Store
