@font-face {
    font-family: "Gotham Bold";
    src: url('../Fonts/Gotham-Bold.ttf');
}

:root {
    --scoreboardX: var(--scoreboardXSingles);
    --scoreboardY: var(--scoreboardYSingles);
    --scoreboardXSingles: 20px;
    --scoreboardXDoubles: 0px;
    --scoreboardYSingles: 485px;
    --scoreboardYDoubles: 213px;
    --colorL: #FFFFFF;
    --colorR: #FFFFFF;
}

/* Note that any singles functions are not used in this file; use the Singles Scoreboard for that purpose! */


body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    text-transform: none;
    color: white;
    font-family: "Gotham Bold";
}

.absol {
    position: absolute;
}

.scoreboard {
    top: var(--scoreboardY);
}
#scoreboardL {
    left: 630px;
}
#scoreboardR {
    right: 200px;
    transform: scaleX(-1);
}

/* size and position of the character renders onscreen;
using the per-player masks further below is recommended */
.mask {
    position: absolute;
    -webkit-mask-image: url("../Overlay/Scoreboard/Icon Mask.png");
    width: 401px;
    height: 104px;
	left: -25px;
    top: -84px;
}

.charTop {
    top: 0px;
    left: 95px;
}

.charBot {
    top: 25px;
    left: -285px;
}

/* size and position of the character image itself inside the mask */
.pCharacter {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
    position: absolute;
    left: 252px;
    top: 4px;
}


.wrappers {
    position: absolute;
    text-align: center;
    opacity: 0;
    white-space: nowrap;
}
.wrappersSingles {
    width: 205px;
    height: 36px;   
    top: 34px;
	left: 252px;
    line-height: 32px;
}

/* Container for all text elements for players; editing each element independently instead is recommended */
.wrappersDubs {
	width: 1200px;
    height: 36px;  
    line-height: 34px;
    top: 32px;
}

/* Positions for each player */
#p1Wrapper {
	top: 335px;
	left: 252px;
}

#p3Wrapper {
	top: 507px;
	left: 252px;
}

#p2Wrapper {
	top: 335px;
	left: -540px;
}

#p4Wrapper {
	top: 507px;
	left: -540px;
}

/* Positions for each player's characters */
#p1CharaMask {
	left: 596px;
    top: 220px;
}

#p3CharaMask {
	left: 596px;
    top: 391px;
}

#p2CharaMask {
	left: -316px;
    top: 220px;
}

#p4CharaMask {
	left: -316px;
    top: 391px;
}

/* Mirrors renders to face the center of the screen if needed */
.flipBack {
    transform: scaleX(-1);
}

.tags {
    color: lightgray;
}

/* Unused function for displaying state flags */
.states {
    position: relative;
    top: 1px;
    max-width: 0px;
    max-height: 0px;
    object-fit: scale-down;
}

/* Position of team name object */

.teamName {
    position: absolute;
    width: 230px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    top: 67px;
    opacity: 100;
    white-space: nowrap;
}

/* Position of the left and right team names respectively */
#teamNameL {
    left: 738px;
	top: 613px;
}
#teamNameR {
    right: -176px;
	top: 613px;
}

/* Main score placement; font size lives in Team Score.mjs */
.scoreNum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 64px;
    top: 463px;
    left: 182px;
    color: white;
    font-family: "Gotham Bold";
}

/* Position of the left and right score respectively */
#scoreNumL {
    -webkit-text-stroke: 0px var(--colorL);
    text-shadow: 0px 0px 0px var(--colorL);
	top: 146px;
	left: 752px;
}
#scoreNumR {
    -webkit-text-stroke: 0px var(--colorR);
    text-shadow: 0px 0px 0px var(--colorR);
	top: 146px;
    left: -161px;
}

/* These values are used for position in dubs mode */
.scoreNumDubs {
    top: 146px;
	left: 1000px;
}

.borderX {
    transform: translateX(-26px);
}

.topBarMask {
    overflow: hidden;
    display: flex;
	text-align: center;
	justify-content: center;
    align-items: center;
    width: 1920px;
    height: 303px;
    transform: translate(0px, -32px);
}

/* width and height here are pronoun box size */
.topBarDoubles {
    width: 3250px;
	height: 300px;
    transform: translate(-200px, 221px);
	text-align: center;
    justify-content: center;
}

/* Position, font size, and other flags for each side */
.topBarLeft {
    display: flex;
	text-align: center;
    border-right: 0px solid;
    border-left: 0px solid;
    gap: 141px;
	transform: translate(-625px, 0px);
	flex-direction: column;
    margin-top: 0px;
	font-size: 24px;
}

.topBarRight {
    display: flex;
	text-align: center;
    border-right: 0px solid;
    border-left: 0px solid;
    gap: 141px;
	transform: translate(1538px, 0px);
	flex-direction: column;
    margin-top: 0px;
	font-size: 24px;
}

/* Flags needed for pronoun text to be centered */
.topBarProns {
	display: none;
    color: white;
	text-align: center;
	justify-content: center;
    align-items: center;
}
	


/* Main round placement */
#roundDiv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translate(670px, 374px);
}
#roundBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    border: solid;
    border-width: 0px 0px;
    transition: width .5s;
    height: 16px;
    min-width: 170px;
    opacity: 0;
}
#roundText {
    font-family: "Gotham Bold";
    white-space: nowrap;
    font-weight: bolder;
}

#casterInfo {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    height: 0px;
    transition: width .5s, height .3s, border-width .3s;
}

/* Position of the caster object onscreen */
#casters {
    bottom: 1%;
    left: 87.7%;
    position: absolute;
    text-align: left;
    text-shadow: 2px 2px 5px black;
    font-family: "Gotham Bold";
    white-space: nowrap;
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 0px;
    flex-direction: column;
}

.casterDiv {
    display: flex;
    flex-direction: column;
    width: 185px;
    margin: 0 -5px;
    flex-shrink: 0;
}

.casterNameBox {
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 0px;
    min-height: 36px;
}
.casterName {
    color: white;
}
.casterTag {
    color: lightgrey;
	height: 0px;
    width: 0px;
    transform: translateY(0px);
}

/* Unused caster division object */
.casterSep {
    width: 50%;
    height: 0px;
    background-color: white;
}

/* Last flag is distance between casters */
.socialBox {
    display: flex;
    text-shadow: 2px 2px 5px black;
    justify-content: center;
    align-items: center;
    gap: 2px;
    min-height: 27px;
}
.socialText {
    color: rgb(255, 255, 255);
}

.socialIcon {
    display: inline-block;
    object-fit: scale-down;
    fill: rgb(255, 251, 251);
    flex-shrink: 0;
}

/* Size of the mic icon next to the caster names*/
.micIcon {
    height: 25px;
    width: 25px;
	
}
.twitterIcon {
    height: 0px;
    width: 0px;
}
.twitchIcon {
    height: 0px;
    width: 0px;
    transform: translate(-2px, -1px);
}
.ytIcon {
    height: 0px;
    width: 0px;
    transform: translate(-1px, 0px);
}
.personIcon {
    height: 0px;
    width: 0px;
}

/* Various settings for when "Allow Intro" is checked in the tool*/
#overlayIntro {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#introBG {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}
.blackBar {
    position: absolute;
    width: 100%;
    background-color: black;
}
#introTopBar {
    height: 100px;
}
#introBotBar {
    height: 100px;
    bottom: 0px;
}

#introWhiteBars {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#introWhiteBarsClip {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    width: 960px;
    overflow: hidden;
}
.introWhiteBar {
    width: 100%;
    height: 4px;
    background-color: white;
}

#playersIntro {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 200px;
}
.pIntro {
    width: 500px;
    line-height: 74px;
    font-family: "Gotham Bold";
    white-space: nowrap;
}
#p1Intro {
    text-align: right;
    text-shadow: 0px 0px 20px var(--colorL);
}

#p2Intro {
    text-shadow: 0px 0px 20px var(--colorR);
}


#midTextIntro {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Gotham Bold";
    font-size: 110px;
    white-space: nowrap;
}

#rtIntro {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    gap: 170px;
    font-size: 48px;
    white-space: nowrap;
}

#superCoolInterrogation {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    right: 550px;
    font-family: "Gotham Bold";
    font-size: 110px;
    opacity: 0;
}


.dubEL {
    display: none;
}


.tLogos {
    max-width: 36px;
    max-height: 36px;
    top: 33px;
    object-fit: scale-down;
}
#tagLogoP1 {
    left: 248px;
}
#tagLogoP2 {
    right: 38px;
}


#connErrorDiv {
    display: none;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Gotham Bold";
    font-size: 28px;
    color: white;
    text-shadow: 0px 0px 5px black;
}


/* Animations! */


@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


@keyframes moveOutLeft {
    from {transform: translateX(0)}
    to {transform: translateX(40px)}
}
@keyframes moveOutRight {
    from {transform: translateX(0)}
    to {transform: translateX(-40px)}
}


@keyframes moveInLeft {
    from {transform: translateX(-40px)}
    to {transform: translateX(0)}
}
@keyframes moveInRight {
    from {transform: translateX(40px)}
    to {transform: translateX(0)}
}


@keyframes charaMoveOut {
    from {transform: translateX(0)}
    to {transform: translateX(-20px)}
}
@keyframes charaMoveIn {
    from {transform: translateX(-20px)}
    to {transform: translateX(0)}
}


@keyframes wlMoveOut {
    from {transform: translateY(0)}
    to {transform: translateY(00px)}
}
@keyframes wlMoveIn {
    from {transform: translateY(00px)}
    to {transform: translateY(0)}
}


@keyframes introWhiteBarTop {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}
@keyframes introWhiteBarBot {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
}


@keyframes scoreUpMove {
    from {transform: translateX(-100%);}
    to {transform: translateX(100%);}
}

@keyframes scoreUpGrad {
    0% {opacity: 0;}
    5% {opacity: 1;}
    100% {opacity: 0;}
}